@model IEnumerable<E_Commerce.Models.Article>

@{
    ViewBag.Title = "Index";
}
@{
      Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; ;
    ViewBag.Title = "Index";
}


<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>

<script>
    $(function () {
        $('#x').change(function () {
            $.ajax({
                type: "POST",
                url: "/Articles/AffichesCategrie",
                datatype: "Json",
                data: { value: $('#x').val() }
            }).done(function (data) {
                $("#ici").html(data);
            });

        });

    });
</script>

<h2>Index</h2>
<div>
    @Html.ActionLink("Créer", "Create") |<span> choisir une catégorie: @Html.DropDownList("x", ViewBag.e as SelectList, "Selectionner categorie") </span>

    <span id="ici">

    </span>
</div>
    <div id="Here">

    </div>






