@model E_Commerce.Models.Categorie

@{Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Delete";
}

<div class="jumbotron text-center">

    <h3 class=" text-center">Est-ce que vous etes sur  que vous voulez  supprimer ce  catégorie</h3>




    <hr />


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <dl class="dl-horizontal">


            <dd>
                <h1>@Html.DisplayFor(model => model.NomCat)</h1>
            </dd>

            <dd>
                @Html.HiddenFor(model => model.RefCat)
            </dd>
        </dl>
        <div>
            <input type="submit" value="Valider" class="btn btn-info pull-left" />
            <input type="reset" value="Annuler" class="btn btn-primary pull-right" />

        </div>
    }

</div>
@Html.ActionLink("Back to List", "Index")
