@model IEnumerable<E_Commerce.Models.MonPanier>
@{Layout = null;
    ViewBag.Title = "Mon panier";
}

<h2>Index</h2>

@using GridMvc.Html
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>

    <script src="~/scripts/gridmvc.min.js"></script>

    <title>Index</title>
</head>
<body>

    <div style="width:1000px;background-color:blue;font-size:large;font-family:Arial;color:black">
        @Html.Grid(Model).Columns(columns =>
   {
   columns.Add(c => c.Designation).Titled("designation").Filterable(true);
   columns.Add(c => c.PrixU).Titled("Prix unitaire").Filterable(true);
   columns.Add(c => c.DateCmd).Titled("Date Commande").Filterable(true);
   columns.Add(c => c.QteArticle).Titled("Qantité d'article").Filterable(true);
   columns.Add().Encoded(false).Sanitized(false).Titled("Image").Filterable(true).RenderValueAs(c => @<div style="width:40px;"><img alt="Image" src="~/Image/@Url.Content(c.photo)" )" height="120" width="100" /></div>);


   }).WithPaging(3).Sortable(true);


    </div>

</body>
</html>

