body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.menucustom {
    margin-left: 50px;
    color: white
}

.tablelien {
    font-family: verdana;
    font-size: 20px;
    color: black
}


.snip1265 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #262626;
    text-align: left;
    font-size: 16px;
    width: 50%;
    max-width: 1000px;
}

    .snip1265 .plan {
        margin: 0;
        width: 80%;
        position: relative;
        float: left;
        border: 1px solid #1e1e1e;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        padding-bottom: 20px;
    }


    .snip1265 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .snip1265 header {
        position: relative;
        padding: 20px 10px;
    }

        .snip1265 header i {
            font-size: 56px;
            margin: 0 15px;
            color: #f39c12;
            display: inline-block;
            float: left;
        }

    .snip1265 .plan-title {
        top: 0;
        font-weight: 800;
        margin: 10px 0 0;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .snip1265 .plan-cost {
        margin: 0;
    }

    .snip1265 .plan-price {
        font-family: 'Montserrat', Arial, sans-serif;
        color: #5bc0de;
        font-weight: 800;
        font-size: 1.3em;
    }

    .snip1265 .plan-type {
        font-size: 0.7em;
        color: #5bc0de;
        text-transform: uppercase;
    }

    .snip1265 .plan-features {
        padding: 0;
        margin: 0 0 40px;
        text-align: center;
        list-style: outside none none;
        font-size: 0.8em;
        text-align: left;
    }

        .snip1265 .plan-features li {
            padding: 5px 5%;
            font-weight: 500;
            opacity: 0.5;
            border-left: 5px solid #5bc0de;
            margin: 2px 20px;
            font-size: 20px;
        }

.
.snip1265 .featured {
    margin-top: -10px;
    background-color: #262626;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.snip1265 .featured .plan-select a {
    margin: 30px 20px;
}

@media only screen and (max-width: 767px) {
    .snip1265 .plan {
        width: 50%;
    }

    .snip1265 .plan-title {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    s
    .snip1265 .featured {
        margin-top: 0;
    }
}

@media only screen and (max-width: 440px) {
    .snip1265 .plan {
        width: 100%;
    }
}
